.DS_Store
.cache
.coverage
coverage.xml
*.pyc
*.sublime-project
/menus/Context.sublime-menu
/menus/Main.sublime-menu
_build/
*.iml
*.ipr
*.iws
*.orig
*.rej
.idea
.svn
.classpath
.project
.settings
target

/datas
/.idea
/test
